Screen {
    layout: vertical;
    background: $background;
}

.hidden {
    display: none;
}

* {
    scrollbar-size: 1 1;
    scrollbar-background: transparent;
    scrollbar-background-hover: $foreground 4%;
    scrollbar-background-active: $foreground 8%;
    scrollbar-color: $foreground 30%;
    scrollbar-color-hover: $primary 65%;
    scrollbar-color-active: $primary;
    scrollbar-corner-color: transparent;
}

